<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>这是Django中的第一个模板</h1>
    <h2>test.name：{{test.name}}</h2>
    <h2>test.test：{{test.test}}</h2>
    <h2>list：{{lst}}</h2>
    <h2>list[0]：{{lst.0}}</h2>
    <h2>list[1]：{{lst.1}}</h2>
    <h2>tupple：{{tup}}</h2>
    <h2>tupple[0]：{{tup.0}}</h2>
    <h2>tupple[1]：{{tup.1}}</h2>
    <h2>dict：{{dic_}}</h2>
    <h2>dict：{{dic_.keys}}</h2>
    <h2>dict：{{dic_.values}}</h2>
    <h2>歌名：{{music}}</h2>
    <h2>作词：{{author}}</h2>
    <h2>演唱：{{singer}}</h2>
</body>
</html>
